html, body, #root {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #05386b;
  color: #edf5e1;
}

.animation-delay {
  animation-delay: 1s;
}

.fade-down-in-4, .fade-down-in-3, .fade-down-in-1, .fade-down-in-2 {
  -webkit-animation: fadedown 0.75s, fadein 0.75s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadedown 0.75s, fadein 0.75s;
  /* Firefox < 16 */
  -ms-animation: fadedown 0.75s, fadein 0.75s;
  /* Internet Explorer */
  -o-animation: fadedown 0.75s, fadein 0.75s;
  /* Opera < 12.1 */
  animation: fadedown 0.75s, fadein 0.75s;
}

.fade-down-in-4, .fade-down-in-3, .fade-down-in-2 {
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.fade-down-in-1, .fade-down-in-2 {
  position: relative;
}

.fade-down-in-2 {
  opacity: 0;
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -ms-animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.fade-down-in-3 {
  opacity: 0;
  position: relative;
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  -ms-animation-delay: 0.4s;
  -o-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fade-down-in-4 {
  opacity: 0;
  position: relative;
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  -ms-animation-delay: 0.6s;
  -o-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fade-in {
  -webkit-animation: fadein 2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s;
  /* Firefox < 16 */
  -ms-animation: fadein 2s;
  /* Internet Explorer */
  -o-animation: fadein 2s;
  /* Opera < 12.1 */
  animation: fadein 2s;
}

.main {
  overflow: auto;
}

.section {
  height: 100vh;
  font-family: "Proza Libre", sans-serif;
  color: #edf5e1;
}

img.background-image {
  height: 120vh;
  position: absolute;
  opacity: 0.4;
}
img.background-image.andrew-laptop {
  right: 0;
  -webkit-mask-image: linear-gradient(to left, black, rgba(0, 0, 0, 0));
  mask-image: linear-gradient(to left, black, rgba(0, 0, 0, 0));
}
img.background-image.laptop-hands {
  left: 0;
  bottom: 0;
  filter: blur(5px);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  -webkit-mask-image: linear-gradient(to left, black, rgba(0, 0, 0, 0));
  mask-image: linear-gradient(to left, black, rgba(0, 0, 0, 0));
}

#about-section h1 {
  z-index: 2;
  font-family: "Amatic SC";
  font-size: 175px;
}
#about-section p {
  font-family: "Josefin Sans", sans-serif;
  color: #5cdb95;
}
#about-section .nav-box {
  height: 75px;
  width: 150px;
  border: 1px solid #5cdb95;
  /* font-family: 'Raleway', sans-serif; */
  transition: all 0.15s ease-in-out;
  cursor: pointer;
  /* font-family: 'Patrick Hand SC', cursive; */
  /* font-family: 'Khand', sans-serif; */
  /* font-family: 'Shadows Into Light', cursive; */
  font-family: "Amatic SC", cursive;
  /* font-family: 'Beth Ellen', cursive; */
  /* font-family: 'Cinzel', serif; */
  /* font-family: $secondary-font; */
  font-size: 30px;
}
#about-section .nav-box:hover {
  background-color: #edf5e1;
  color: #05386b;
}
#about-section .social-icons-container > a {
  text-decoration: none;
  height: 50px;
  width: 50px;
  display: inline;
  padding-top: 15px;
  border-top: 1px solid #edf5e1;
}
#about-section .social-icons-container i {
  font-size: 36px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  color: #5cdb95;
}
#about-section .social-icons-container i:hover {
  font-size: 40px;
}

#portfolio-section {
  flex-wrap: nowrap;
  overflow-x: auto;
}
#portfolio-section > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
}
#portfolio-section .card {
  border: none;
  border-radius: 0;
  width: 300px;
  height: 515px;
  text-decoration: none;
  color: black;
  background-color: #05386b;
  transition: all 0.15s ease-in-out;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
#portfolio-section .card:hover {
  width: 320px;
  height: 535px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
#portfolio-section .card:hover .image-layer {
  opacity: 0;
  transition: all 0.15s ease-in-out;
}
#portfolio-section .card:hover .link-layer {
  opacity: 1;
}
#portfolio-section .image-layer {
  overflow: hidden;
  transition: all 0.15s ease-in-out;
  background-color: #05386b;
  border: 1px solid #5cdb95;
}
#portfolio-section .image-layer h1 {
  font-size: 50px;
  color: #edf5e1;
  font-family: "Amatic SC", cursive;
}
#portfolio-section .image-layer i {
  font-size: 80px;
  color: #5cdb95;
}
#portfolio-section .link-layer {
  position: absolute;
  opacity: 0;
  transition: all 0.15s ease-in-out;
  color: #edf5e1;
}
#portfolio-section .link-layer p {
  text-align: center;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
}
#portfolio-section .link-layer h1 {
  font-size: 50px;
  font-family: "Amatic SC", cursive;
}
#portfolio-section .icon-wrapper {
  min-height: 56px;
}
#portfolio-section a, #portfolio-section a:hover {
  text-decoration: none;
  color: black;
}
#portfolio-section i {
  font-size: 50px;
  color: #5cdb95;
}
#portfolio-section i.link {
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
#portfolio-section i.link:hover {
  font-size: 56px;
}
#portfolio-section i.stack-icon {
  padding: 0 15px;
}
#portfolio-section img.fake-icon {
  height: 40px;
  filter: invert(83%) sepia(15%) saturate(909%) hue-rotate(86deg) brightness(89%) contrast(93%);
}

#contact-section .left {
  height: 90%;
}
#contact-section .right {
  height: 90%;
  width: 90%;
  padding: 30px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
#contact-section input, #contact-section textarea {
  background-color: transparent;
  border: 1px solid #5cdb95;
  transition: all 0.15s ease-in-out;
  font-family: "Amatic SC", cursive;
  font-size: 30px;
  padding: 20px;
  margin: 10px;
  color: #edf5e1;
}
#contact-section input:focus, #contact-section textarea:focus {
  outline: none;
}
#contact-section input::-webkit-input-placeholder, #contact-section textarea::-webkit-input-placeholder {
  /* Edge */
  opacity: 0.5;
  color: #edf5e1;
}
#contact-section input:-ms-input-placeholder, #contact-section textarea:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  opacity: 0.5;
  color: #edf5e1;
}
#contact-section input::placeholder, #contact-section textarea::placeholder {
  opacity: 0.5;
  color: #edf5e1;
}
#contact-section input:-webkit-autofill, #contact-section textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 500px rgba(255, 255, 255, 0.5) inset;
  /* Change the color to your own background color */
  -webkit-text-fill-color: #edf5e1;
}
#contact-section input:-webkit-autofill:focus, #contact-section textarea:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 500px rgba(0, 0, 0, 0.5) inset;
  /*your box-shadow*/
  -webkit-text-fill-color: #edf5e1;
}

/* ANIMATIONS */
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox < 16 */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari, Chrome and Opera > 12.1 */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-ms-keyframes fadein {
  /* Internet Explorer */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera < 12.1 */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*===================*/
@keyframes fadedown {
  from {
    top: -100px;
  }
  to {
    top: 0px;
  }
}
@-moz-keyframes fadedown {
  /* Firefox < 16 */
  from {
    top: -100px;
  }
  to {
    top: 0px;
  }
}
@-webkit-keyframes fadedown {
  /* Safari, Chrome and Opera > 12.1 */
  from {
    top: -100px;
  }
  to {
    top: 0px;
  }
}
@-ms-keyframes fadedown {
  /* Internet Explorer */
  from {
    top: -100px;
  }
  to {
    top: 0px;
  }
}
@-o-keyframes fadedown {
  /* Opera < 12.1 */
  from {
    top: -100px;
  }
  to {
    top: 0px;
  }
}

/*# sourceMappingURL=style2.css.map */
